<div style="font-weight: bold; font-size: 16px;">Hi {{ createdBy.fullName }}, {{ app.user.fullName }} commented on your {{ comment.getPost ? 'post' : 'invite' }}:</div>

<br />

<div>"{{ comment.getContent }}"</div>