<div class="comment-feed cf-{{ rootId }}">
    {% render "WhootBundle:Comment:new" with {'rootId': rootId, 'type': type} %}
    {% for comment in comments %}
        {% render "WhootBundle:Comment:teaser" with {'comment': comment} %}
    {% endfor %}
</div>