<div class="teaser comment">
    <div class="submitted">
        {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': comment.createdBy} %}
        <div class="time">{{ comment.createdAt|timeLapse(1) }}</div>
    </div>

    <div class="content">
        {{ comment.content }}
    </div>
</div>