/*
    Document   : main
    Created on : Mar 30, 2011, 2:33:12 PM
    Author     : Marc MacLeod
    Description:
        Master stylesheet.
*/
/*
    Document   : _default
    Created on : Mar 30, 2011, 4:06:21 PM
    Author     : Marc MacLeod
    Description:
        Default theme variables.
*/
/* line 16, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  background-color: #222;
  position: relative;
  z-index: 0;
  font-family: Tahoma, Arial, "times New Roman";
  color: #000;
}

/* line 25, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
header, footer, article, section, nav, menu, hgroup {
  display: block;
}

/* line 29, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
h1, h2, h3, h4, h5, h6, p, div, span {
  margin: 0;
  padding: 0;
}

/* line 34, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
a {
  color: #156cd8;
  text-decoration: none;
}

/* line 38, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 42, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* line 47, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#application {
  width: 960px;
  height: 100%;
  margin: auto;
}

/* line 48, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header {
  background-color: #222;
  height: 70px;
  width: 960px;
  color: black;
  border-bottom: 1px solid #003277;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -480px;
  z-index: 50;
}
/* line 59, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .logo {
  display: block;
  position: relative;
  margin: 11px 0 0 0;
  color: #FFF;
  font-size: 26px;
  text-decoration: none;
  float: left;
}
/* line 68, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .nav {
  position: absolute;
  top: 0px;
  left: 535px;
}
/* line 71, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .nav a {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  margin: 7px 0 0 0;
  padding: 5px 10px;
  display: block;
  float: left;
}
/* line 80, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .nav .feed {
  border-right: 1px dotted #08192E;
}
/* line 83, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .nav .open-invite {
  border-left: 1px dotted #4688DA;
  border-right: 1px dotted #08192E;
}
/* line 88, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .search {
  position: absolute;
  top: 18px;
  right: 5px;
}
/* line 91, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#header .search input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e5293), color-stop(25%, #1c5197), color-stop(75%, #164f9e), color-stop(100%, #134fa1));
  background-image: -webkit-linear-gradient(#1e5293, #1c5197 25%, #164f9e 75%, #134fa1);
  background-image: -moz-linear-gradient(#1e5293, #1c5197 25%, #164f9e 75%, #134fa1);
  background-image: -o-linear-gradient(#1e5293, #1c5197 25%, #164f9e 75%, #134fa1);
  background-image: linear-gradient(#1e5293, #1c5197 25%, #164f9e 75%, #134fa1);
  border: none;
  border-top: 1px solid #163967;
  border-bottom: 1px solid #4075BC;
  font-size: 18px;
  padding: 4px 8px;
  color: #FFF;
  width: 230px;
}

/* line 104, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#content {
  padding-top: 70px;
  height: 100%;
}

/* line 107, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#page {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  padding-right: 200px;
  color: black;
  background: #FFF;
  height: 100%;
}

/* line 115, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#page_content {
  min-height: 800px;
  height: 100%;
}

/* line 119, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#sidebar {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 199px;
  min-height: 800px;
  position: fixed;
  top: 71px;
  left: 50%;
  margin: 0 0 0 280px;
  z-index: 50;
  border-left: 1px solid #cfcfcf;
  border-top: 1px solid #FFF;
  background: #e4e4e4;
  color: black;
}

/* line 130, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
#footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3077ce), color-stop(25%, #2b6fc6), color-stop(75%, #1b59ae), color-stop(100%, #1551a5));
  background-image: -webkit-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -moz-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -o-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  height: 20px;
  width: 761px;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -480px;
  padding: 3px 0 4px 10px;
  font-weight: normal;
  font-size: 14px;
}

/* line 144, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
.feed li {
  margin: 0 10px;
  border-top: 1px dotted #999;
  padding: 0;
}
/* line 149, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
.feed li.first {
  border-top: none;
}
/* line 152, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
.feed li.last, .feed li.none {
  border-bottom: 1px dotted #999;
}

/* line 157, ../../../src/Whoot/WhootBundle/Resources/compass/src/main.scss */
.fb_edge_widget_with_comment {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
}

/*
    Document   : _utilities
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 9, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
#ajax-loading {
  display: none;
  background: white url("images/ajax-loader.gif") no-repeat;
  border: 3px solid #000;
  padding: 15px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -10px;
}

/* line 18, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.hide {
  display: none;
}

/* line 20, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.dev-notice {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFD2C7;
  color: red;
  font-size: 13px;
  padding: 5px;
  width: 90%;
  margin: 10px auto;
}

/* line 31, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.clear {
  clear: both;
}

/* line 37, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.iclear.w {
  color: #FFF !important;
}
/* line 40, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.iclear.w.active {
  color: #A3B9D7 !important;
}
/* line 45, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.iclear.b {
  color: #000 !important;
}
/* line 48, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.iclear.b.active {
  color: #BBB !important;
}

/* line 55, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.handle-small {
  width: 9px;
  height: 10px;
  cursor: move;
}

/* line 58, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_utilities.scss */
.arrow-small {
  width: 14px;
  height: 8px;
  cursor: default;
}

/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/
/* line 31, icon */
.icon-sprite, .handle-small, .arrow-small {
  background: url('/images/icon-d3e39e42f6.png') no-repeat;
}

/* line 10, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_sprite.scss */
.handle-small {
  background-position: 0 -8px;
}

/* line 11, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_sprite.scss */
.arrow-small {
  background-position: 0 0;
}

/*
    Document   : _splash
    Created on : Mar 3, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 12, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
html.coming-soon {
  background-color: #FFF;
}
/* line 15, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
html.coming-soon body {
  background-color: #FFF;
}

/* line 19, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#coming-soon {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
}
/* line 22, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#coming-soon .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 100px 0 0 -335px;
}

/* line 27, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#splash {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(60%, #666666), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: -moz-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: -o-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: linear-gradient(#222222, #666666 60%, #aaaaaa);
  width: 100%;
  height: 100%;
}
/* line 33, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#splash .auth {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 1px 1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
  -o-box-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 5px black;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  margin: -175px 0 0 -325px;
  width: 650px;
  height: 350px;
}
/* line 43, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#splash .auth .panel {
  width: 350px;
  height: 350px;
}
/* line 47, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_splash.scss */
#splash .auth .button {
  padding: 5px 15px;
  margin: 5px;
  float: left;
  border: 1px solid #999;
  cursor: pointer;
}

/*
    Document   : _user
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 11, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.plupload {
  cursor: pointer;
}
/* line 14, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.plupload input {
  cursor: pointer;
}

/* line 17, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel {
  padding: 7px 5px 7px 5px;
  margin: 0 5px;
  border-bottom: 1px solid #F1F1F1;
}
/* line 22, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .name {
  float: left;
  text-decoration: none;
  display: block;
  margin: -2px 0 3px 2px;
}
/* line 28, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .name:hover {
  text-decoration: underline;
}
/* line 32, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .profile_image {
  position: relative;
  height: 65px;
  float: left;
}
/* line 37, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .profile_image img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
}
/* line 43, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel #profile-image-upload {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #FFF;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 5px;
  color: #156cd8;
  cursor: default;
}
/* line 55, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .stats {
  float: left;
  width: 110px;
}
/* line 59, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .stats .item {
  clear: both;
  margin: 3px 0 0 10px;
}
/* line 63, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .stats .item .label {
  float: left;
  font-size: 14px;
  color: #666;
  margin: 0 15px 0 0;
}
/* line 69, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .stats .item .value {
  float: left;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
/* line 77, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .small-link {
  font-size: 12px;
  text-decoration: none;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 83, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user_panel .small-link:hover {
  text-decoration: underline;
}

/* line 88, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#my-pings {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: -6px;
  left: -6px;
  background: #cc3300;
  font-weight: bold;
  padding: 0 5px;
  color: #FFF;
  cursor: default;
}

/* line 97, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.my-pings-tip {
  font-size: 16px;
  line-height: 1.2em;
}

/* line 102, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-profile-image {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

/* line 107, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar {
  background: #FFF;
  float: left;
  width: 130px;
  padding: 10px;
  margin: 5px 0;
}
/* line 114, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar h1 {
  margin: 0;
}
/* line 117, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar .follow-B {
  overflow: hidden;
  *zoom: 1;
  margin: 3px 0 0 2px;
  font-size: 20px;
  display: block;
  float: left;
}
/* line 126, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar .nav a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 1px 8px;
  margin: 3px 0;
}
/* line 132, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar .nav a:hover {
  background: #ffece5;
  text-decoration: none;
}
/* line 136, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar .nav .on {
  cursor: default;
  color: #FFF;
  background: #CC3300;
}
/* line 141, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
#user-sidebar .nav .on:hover {
  background: #CC3300;
}

/* line 148, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.following.feed,
.followers.feed {
  padding: 10px 0 0 0;
}

/* line 152, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.teaser.user {
  padding: 8px 5px;
}
/* line 155, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.teaser.user img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  width: 30px;
  height: 30px;
  margin: -5px 10px 0 0;
}
/* line 161, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.teaser.user .actions {
  float: right;
}
/* line 166, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_user.scss */
.teaser.user .follow-B,
.teaser.user .ping-B,
.teaser.user .pinged {
  padding: 0 12px;
}

/*
Document   : post
Created on : May 3, 2011, 9:41:00 PM
Author     : Marc MacLeod (marbemac@gmail.com)
Description:
Purpose of the stylesheet follows.
*/
/* line 9, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#my-post {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #F1F1F1;
  padding: 9px 5px 5px 5px;
  margin: 0 5px;
}
/* line 15, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#my-post:hover {
  cursor: pointer;
  background: #dcdcdc;
}
/* line 19, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#my-post h3 {
  float: left;
  color: #777;
}
/* line 23, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#my-post .note {
  font-size: 12px;
  font-style: italic;
  color: #666;
}

/* line 31, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#change-post,
#cancel-post {
  float: right;
  color: #156cd8;
  font-size: 12px;
  margin: -1px 3px 0 0;
  font-weight: bold;
}
/* line 38, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#change-post:hover,
#cancel-post:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 45, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#invite-cancel-confirm .num {
  font-size: 18px;
  margin: 0 20px 10px 5px;
}
/* line 49, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#invite-cancel-confirm .noundo {
  font-size: 14px;
  font-style: italic;
  margin: 0 20px 5px 5px;
}

/* line 58, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .actions,
#invite-cancel-confirm .actions {
  margin: 0 7px;
}
/* line 62, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .submit,
#post-box .cancel,
#invite-cancel-confirm .submit,
#invite-cancel-confirm .cancel {
  font-size: 20px;
  float: left;
  font-weight: bold;
  color: #156cd8;
  margin: 7px 0 9px 7px;
}
/* line 70, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .submit:hover,
#post-box .cancel:hover,
#invite-cancel-confirm .submit:hover,
#invite-cancel-confirm .cancel:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 74, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .cancel,
#invite-cancel-confirm .cancel {
  margin-left: 30px;
}

/* line 79, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
}
/* line 89, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -o-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  background: #FFF;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 600px;
  margin: 0 0 0 -400px;
}
/* line 99, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options h2 {
  text-align: center;
  margin: 15px 0 -10px 0;
}
/* line 104, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .label {
  font-size: 20px;
  color: #666;
  margin: 10px 0 0 10px;
}
/* line 110, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .type {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 5px 15px;
  margin: 5px 0 0 5px;
  font-size: 16px;
  border: 2px solid #000;
  cursor: pointer;
}
/* line 119, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .type.on {
  color: #FFF;
  cursor: default;
}
/* line 123, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .working {
  border-color: #009966;
  color: #009966;
}
/* line 127, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .low_in {
  border-color: #996699;
  color: #996699;
}
/* line 131, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .low_out {
  border-color: #ff9900;
  color: #ff9900;
}
/* line 135, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .big_out {
  border-color: #cc3300;
  color: #cc3300;
}
/* line 139, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .working.on {
  background: #009966;
}
/* line 142, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .low_in.on {
  background: #996699;
}
/* line 145, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .low_out.on {
  background: #ff9900;
}
/* line 148, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .big_out.on {
  background: #cc3300;
}
/* line 151, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #999;
  padding: 5px;
  margin: 5px 0 10px 5px;
  width: 575px;
}
/* line 159, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-toggle {
  float: left;
  color: #156cd8;
  font-size: 20px;
  margin: 15px 0 0px 9px;
}
/* line 165, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 169, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-help {
  float: left;
  font-size: 14px;
  color: #666;
  cursor: default;
  margin: 21px 0 0 15px;
}
/* line 176, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-C {
  margin: 15px 0 0 20px;
  display: none;
}
/* line 180, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-C .label2 {
  float: left;
  clear: both;
  font-size: 14px;
  margin: 0 0 10px 0;
  width: 60px;
  color: #666;
}
/* line 188, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-C input {
  float: left;
  width: 400px;
  border: 1px solid #999;
  padding: 3px 5px;
}
/* line 194, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-box .options .open-invite-C .pac-container {
  width: 410px !important;
  top: 52px !important;
  left: 60px !important;
}

/* line 204, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(25%, #f6f6f6), color-stop(75%, #ebebeb), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 761px;
  padding: 8px 0 6px 0;
  margin: 0 0 0 -480px;
  position: fixed;
  top: 70px;
  left: 50%;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #cfcfcf;
  z-index: 40;
}
/* line 223, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types,
#feed-filters .feed-sort {
  position: relative;
}
/* line 226, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types .label,
#feed-filters .feed-sort .label {
  float: left;
  margin: 5px 0 0 13px;
  color: #999;
  font-size: 12px;
  cursor: default;
}
/* line 233, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul,
#feed-filters .feed-sort ul {
  font-size: 14px;
}
/* line 236, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types li,
#feed-filters .feed-sort li {
  float: left;
}
/* line 239, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types li.clear,
#feed-filters .feed-sort li.clear {
  float: none;
}
/* line 243, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types {
  float: left;
}
/* line 246, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  background: white;
  border: 2px solid #cccccc;
  margin: 0 0 0 10px;
}
/* line 253, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul a {
  color: #BBB;
  text-decoration: none;
  padding: 2px 10px;
  display: block;
}
/* line 259, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.working a {
  color: #009966;
}
/* line 260, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.low_in a {
  color: #996699;
}
/* line 261, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.low_out a {
  color: #ff9900;
}
/* line 262, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.big_out a {
  color: #cc3300;
}
/* line 264, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .post-types .undecided {
  float: left;
  font-size: 14px;
  margin: 4px 0 0 10px;
  cursor: pointer;
}
/* line 271, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .feed-sort {
  float: right;
  width: 173px;
}
/* line 275, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .feed-sort .arrow-small {
  position: absolute;
  top: 11px;
  right: 18px;
  z-index: 10;
}
/* line 279, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .feed-sort ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: white;
  border: 2px solid #cccccc;
  position: absolute;
  left: 60px;
  z-index: 5;
  width: 100px;
}
/* line 291, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-filters .feed-sort ul a {
  color: #444;
  text-decoration: none;
  padding: 2px 10px;
  display: block;
}

/* line 301, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats {
  float: left;
}
/* line 304, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats div {
  float: left;
  margin: -1px 10px 0 10px;
  font-weight: bold;
  cursor: default;
}
/* line 310, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats div.working {
  color: #009966;
}
/* line 311, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats div.low_in {
  color: #996699;
}
/* line 312, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats div.low_out {
  color: #ff9900;
}
/* line 313, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#feed-stats div.big_out {
  color: #cc3300;
}

/* line 318, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed,
#open-invite-feed {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 78px 0 0 0;
}
/* line 323, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed .no-post,
#open-invite-feed .no-post {
  margin: 10px;
}
/* line 326, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed h3,
#open-invite-feed h3 {
  float: left;
  margin: 0px 10px 5px 10px;
  cursor: default;
}
/* line 333, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed .teaser.post:hover, #post-feed .teaser.post.on,
#open-invite-feed .teaser.post:hover,
#open-invite-feed .teaser.post.on {
  background: #e7edff;
  cursor: pointer;
}

/* line 341, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed .undecided-count {
  float: left;
  margin: -1px 0 0 10px;
  cursor: default;
}
/* line 346, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
#post-feed .decided {
  margin-bottom: 20px;
}

/* line 353, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .post,
.teaser.invite .post {
  float: left;
  padding: 9px 0;
}

/* line 360, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .timer {
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  top: 7px;
  margin: 3px 5px 0 5px;
}
/* line 368, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post div.timer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 371, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post div.timer.working {
  background: #009966;
}
/* line 372, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post div.timer.low_in {
  background: #996699;
}
/* line 373, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post div.timer.low_out {
  background: #ff9900;
}
/* line 374, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post div.timer.big_out {
  background: #cc3300;
}
/* line 376, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .profile-images {
  float: left;
  width: 130px;
}
/* line 380, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .profile-images img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 5px 0 0 5px;
}
/* line 386, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .jive-B {
  color: #156cd8;
  float: right;
  font-size: 16px;
  padding: 9px;
}
/* line 392, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .jive-B:hover {
  text-decoration: underline;
}
/* line 395, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post .post span {
  font-weight: bold;
}
/* line 398, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post.working .post span {
  color: #009966;
}
/* line 401, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post.low_in .post span {
  color: #996699;
}
/* line 404, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post.low_out .post span {
  color: #ff9900;
}
/* line 407, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.post.big_out .post span {
  color: #cc3300;
}

/* line 412, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.invite {
  overflow: inherit;
}
/* line 415, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.invite .profile-image {
  float: left;
  margin: 5px 0 0 5px;
  width: 50px;
}
/* line 420, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.invite .profile-image img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 424, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.teaser.invite .num-users {
  float: right;
  font-size: 16px;
  padding: 9px;
  cursor: default;
  text-align: right;
  width: 50px;
}

/* line 434, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  border: 5px solid #e7edff;
  border-top: none;
  margin-bottom: 10px;
}
/* line 444, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .left {
  float: left;
  width: 200px;
}
/* line 448, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .post-map {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 180px;
  height: 175px;
  border: 2px solid #CCC;
  margin: 0 0 12px 0;
}
/* line 455, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .num-people {
  margin: 5px 0 10px 5px;
}
/* line 459, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .users li {
  margin: 5px 0 0 0;
  border: none;
}
/* line 463, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .users .profile-image {
  margin: 0;
}
/* line 466, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .users .profile-image img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 470, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .users .user {
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  bottom: 7px;
}
/* line 476, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .right {
  float: left;
  width: 465px;
}
/* line 480, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details h4 {
  margin: 6px 0 0 0;
}
/* line 483, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details h5 {
  color: #666;
  margin: 4px 0 8px 0;
}
/* line 487, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .note {
  margin: 0 0 0 3px;
}
/* line 490, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details .activity-list {
  border-top: 1px solid #DDD;
  padding-top: 10px;
}
/* line 496, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details.normal .activity-list {
  width: 515px;
}
/* line 501, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.post-details.invite .activity-list {
  width: 460px;
}

/* line 507, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.ping-countdown {
  font-size: 12px;
  color: #999;
  margin: 0 0 0 10px;
  cursor: default;
}

/* line 514, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.pinged {
  color: #999;
  cursor: default;
}

/* line 519, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-list {
  margin: 10px 0 5px 0;
}

/* line 524, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post,
.comment {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0 0 0;
}
/* line 528, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post .submitted,
.comment .submitted {
  float: left;
  width: 120px;
  text-align: right;
  padding: 0 6px 0 0;
}
/* line 534, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post .submitted .time,
.comment .submitted .time {
  color: #888;
  font-size: 10px;
  text-align: right;
}
/* line 540, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post .content,
.comment .content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid #E7E5FF;
  max-width: 360px;
}

/* line 551, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post .time {
  margin-top: 8px;
}
/* line 555, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post.create .message {
  background: #F8F7FF;
}
/* line 558, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post.jive .message {
  background: #F9FFF8;
}
/* line 561, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_post.scss */
.activity-post.leave .message {
  background: #FFF7F9;
}

/*
Document   : post
Created on : May 3, 2011, 9:41:00 PM
Author     : Marc MacLeod (marbemac@gmail.com)
Description:
Purpose of the stylesheet follows.
*/
/* line 9, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px 88px;
}
/* line 13, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
/* line 17, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 5px;
  margin: 0 0 0 10px;
  color: #999;
  font-size: 13px;
  float: left;
  width: 250px;
  height: 20px;
  resize: none;
}
/* line 29, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new .errors {
  clear: both;
}
/* line 31, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new .errors ul {
  font-size: 12px;
  color: red;
  border: none;
  margin: 0;
  padding: 0;
}
/* line 38, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.comment_new .errors li {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 45, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_comment.scss */
.teaser.comment .user {
  font-size: 12px;
  display: block;
  margin: 0 0 -3px 0;
}

/*
    Document   : _library
    Created on : Apr 14, 2011, 2:59:21 PM
    Author     : Marc
    Description:
        Library overrides.
*/
/*
 * qTip
 */
/* line 13, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_library.scss */
.jgrowl .ui-tooltip-title {
  font-size: 18px;
}

/* line 14, /Users/Marc/Sites/whoot/src/Whoot/WhootBundle/Resources/compass/src/partials/_library.scss */
.jgrowl .ui-tooltip-content {
  font-size: 16px;
  padding: 10px;
  line-height: 1.4em;
}
