<div id="post-feed">
    <div class="date-separator">
        {% if posts|length > 0 %}
            {{ posts[0][0].createdAt|date('y-m-d') }}
        {% endif %}
    </div>

    <ul>
    {% for post in posts %}
        <li class="{{ loop.last ? 'last' : '' }}">
            {% render 'SocialiteBundle:Post:teaser' with {'postId': post[0].id} %}
        </li>
    {% else %}
        <li class="none">
            No posts for this night... yet.
        </li>
    {% endfor %}
    </ul>

</div>