<div class="teaser post">
    {{ post.type|printPostType()|capitalize }}

    with
    {% for user in post.users %}
        {{ user.user.firstName }}
    {% endfor %}

    {% render "SocialiteBundle:Post:inviteRequestTag" with {'postId': post.id} %}
</div>