<div class="teaser post">
    {{ post.createdAt|date('D, j') }}
    - 
    {% for user in post.users %}
        {{ user.user.firstName }}
    {% endfor %}
    is {{ post.type|printPostType() }}.
</div>