{% extends 'WhootBundle::base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block page_content %}
    <div id="static_page">
        <h1>A Little Bit About The Whoot</h1>
        <p>
            The Whoot is a new social media platform which allows users to browse through their numerous friends to see
            which of those friends are; Partying, Having a Relaxed Night Out, Staying In, or Working that night.
        </p>

        <p>
            The Whoot pertains solely to the night ahead and not to any other time in the past, or future. If you already
            know where you are going and what you are doing that night, The Whoot allows you to broadcast an open
            invitation to all of the users that follow you so they can get involved in your plans.
        </p>

        <p>
            If some of the people you follow haven't decided what they are doing, just PING them. Ping-ing a user sends
            a message to them alerting them that one of their friends wants to know what they are thinking for that night.
            Ping-ing is anonymous and far easier than harassing texting everyone you know.
        </p>

        <p>
            The Whoot is organized an extremely simple. Filter your friends by what their plan is, sort your friends to
            see who has most recently posted, or create groups of friends so you can easily see what different social
            circles are thinking for that night!
        </p>

        <p>
            Lastly, The Whoot provides all of the best money saving hot-spots in your city every single night! The Whoot
            lists deal from bars, clubs, restaurants, shows and more! You’ll even be able to see what deals
            your friends like!
        </p>
    </div>
{% endblock %}