<header id="header">
    {% block header %}

        <a class="logo" href="{{ path('homepage') }}">
            <div class="image"></div>
            The Whoot
        </a>


        <div class="nav">
        </div>

        <div class="search">
            <input type="text" class="iclear w" autocomplete="off" value="Find someone..." />
        </div>

    {% endblock header %}
</header>