<div id="post-box" class="hide">
    <div class="options">

        {% if myPost is none %}
            <h2>{{ app.user.firstName }}, first things first. Whatcha doin tonight?</h2>
        {% else %}
            <h2>You will change your current post.</h2>
        {% endif %}

        <div class="label status">Status</div>
        <div class="type working" data-val="working">Working</div>
        <div class="type low_in" data-val="low_in">Staying In</div>
        <div class="type low_out" data-val="low_out">Relaxing Out</div>
        <div class="type big_out" data-val="big_out">Raging</div>
        <div class="clear"></div>

        <div class="clear"></div>

        <div class="nav">
            <div class="on" data-target="#post-box .post">Normal Post</div>
            <div data-target="#post-box .invite">Open Invite</div>
        </div>

        <div class="post">
            {% render "WhootBundle:Post:create" %}
        </div>

        <div class="invite hide">
            {% render "WhootBundle:Invite:create" with {'chromeless': true} %}
        </div>

        {% if myPost is not none %}
            <div class="cancel">Cancel</div>
        {% endif %}

    </div>
</div>