{% extends 'WhootBundle::base.html.twig' %}

{% block title %}
    Terms of Use
{% endblock %}

{% block page_content %}
    <div id="static_page">
        <h1>The Whoot Terms of Use</h1>

        <p>
        The Whoot http://www.thewhoot.com (the "Product") is owned and operated by Ryan Coyne, William Quartner and Marc MacLeod ("the Company"), and is provided to you ("You") under the terms and conditions of these Online Terms of Service ("Terms"), which include the Company’s Online Privacy Policy and Registration Form that are available through the hyperlinks set forth below and are incorporated herein by reference. BY COMPLETING THE ELECTRONIC ACCEPTANCE PROCESS AND CLICKING THE "SUBMIT" BUTTON, YOU REPRESENT AND WARRANT THAT YOU: (i) ARE AUTHORIZED TO SIGN FOR AND BIND THE CONTRACTING PARTY AND (ii) AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT.
        </p>

        <p>
        1. DESCRIPTION OF PRODUCT. The Whoot is a new social media outlet which allows users to browse through their numerous friends to see which of those friends; Raging, Having a Relaxed Night Out, Staying In, or Working that night. The Whoot pertains solely to the night ahead and not to any other time in the past, present or distant future. If you already know where you are going and what you are doing that night, The Whoot allows you to broadcast an open invitation to all of the users that follow you so they can get involved in your plans. If some of the people you follow haven't decided what they are doing, just PING them. Pinging a user sends a message to them alerting them that one of their friends wants to know what they are thinking for that night. Pinging is anonymous and far easier than attempting to text everyone you know. The Whoot is very organized an extremely simple. Filter your friends by what their plan is, sort your friends to see who has most recently posted, or create groups of friends so you can easily see what different social circles are thinking for that night.
        </p>

        <p>
        2. REGISTRATION. To use the Product, You must submit a complete a registration form, which is available on thewhoot.com (the "Registration Form"), on your behalf. As part of the registration process for the Product, You agree to: (1) provide certain limited information about you as prompted to do so by the Product (such information is to be current, complete and accurate) and (2) maintain and update this information as required to keep it current, complete and accurate. The information requested on original signup shall be referred to as registration data ("Registration Data"). If the Company discovers that any of Your Registration Data is inaccurate, incomplete or not current, the Company may terminate your right to access and receive the Product immediately upon notice.
        </p>

        <p>
        The Company will evaluate the registration application in good faith and will notify you in a timely manner regarding acceptance or rejection. The Company may reject a registration application if it determines in its sole discretion that the user is not an appropriate subscriber or user of the Product. The Company reserves the right to refuse the Service to any user who has canceled any number of previous Service accounts. The Company need not provide a reason for its rejection. If the Company rejects your application, then you may reapply and the Company will reconsider the application. Upon acceptance of this agreement and completion of the registration process you will have opened an account with the Company and will become a subscriber to The Whoot.
        </p>

        <p>
        3. DESCRIPTION OF SERVICE. The Whoot allows individuals to learn about the general night-time plans of those individuals who they follow on The Whoot. To use the Service, The Whoot software is installed. Each participant that you wish to invite to view your content must also download and install The Whoot application or visit www.thewhoot.com and initially have a connection with the Internet. The Whoot application download contains all of the appropriate software code and related drivers to provide the service capabilities described on the web site provided the Your computer meets the minimum configuration requirements. The Company makes every effort possible to ensure that The Whoot software is highly secure, reliable and is free from defects and any form of spyware, adware, and/or malware.
        </p>

        <p>
        Fees and payments. The Whoot offers free services. You are responsible for any fees or charges incurred to access thewhoot.com through an Internet access provider or other third party service.
        </p>

        <p>
        4. USER CONDUCT AND PROPRIETARY RIGHTS
        </p>

        <p>
        (a) The Whoot may not be used with the intent to harm any user mentally or physically. Every care is taken by the Company to ensure that users have the ability to maintain every bit of privacy that they wish.
        </p>

        <p>
        (b) Conduct. You are solely responsible for your content. Your use of the
        Product is subject to all applicable local, state, national and international laws and regulations (including without limitation those governing account collection, export control, consumer protection, unfair competition, anti-discrimination or false advertising). You agree: (1) to comply with all United States' laws, rules and other regulations applicable in connection with the Product; (2) not to use the Product for illegal purposes; (3) not to interfere or disrupt networks connected to the Product; (4) not to use the Product to infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy; and (5) not to transmit through the Product, any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material of any kind or nature. You will not attempt to gain unauthorized access to other computer systems.
        </p>

        <p>
        Proprietary rights. In accordance with your authorized use of the Product,
        the Company grants you a limited license to The Whoot solely in connection with the Product. You acknowledge that The Whoot downloaded in connection with the Product is proprietary to Company and may be protected by copyrights, trademarks, product marks, patents or other proprietary rights and laws; therefore, you are only permitted to use the Product as expressly authorized by the Company and these Terms.
        </p>

        <p>
        Further, The Whoot and The Whoot logo, and other names, logos, icons and marks identifying The Whoot products and services are trademarks of the Company and may not be used without the prior written permission of the Company. You may not copy, reproduce, distribute, lease, loan, rent, timeshare, deliver or otherwise transfer, directly or indirectly, the Software license granted to You (in whole or in part) or create derivative works of the Product without expressly being authorized to do so by the Company. You may not reverse engineer, decompile, alter, modify, disassemble or otherwise attempt to derive source code from the Product or any part of the Product. All rights not expressly granted in these Terms are reserved to the Company.
        </p>

        <p>
        5. PRIVACY. The Company's use of any personal information you provide to it is
        set out in the Company's current thewhoot.com Privacy Policy
        </p>

        <p>
        6. MODIFICATIONS. The Company may amend these Terms at any time by (i) posting a revised Terms of Service document on http://www.thewhoot.com, and/ or (ii) sending information regarding the Terms amendment to the email address you provide on The Whoot Registration Page. You are responsible for regularly reviewing thewhoot.com site to obtain timely notice of such amendments. You manifest intent to accept these amended terms if you continue to use your account after such amended terms have been posted or information regarding such amendments has been sent to you. Otherwise, these Terms may not be amended except in writing signed by both parties. Further, the Company reserves the right to modify or discontinue the Product with or without notice to you. The Company shall not be liable to you or any third party should The Company exercise its right to modify or discontinue the Product.
        </p>

        <p>
        7. ADVERTISERS. The Company may choose to display advertising in conjunction with the basic free service. Your correspondence or interaction with, or participation in promotions of, advertisers found on or through this Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that the Company shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.
        </p>

        <p>
        8. PASSWORD AND SECURITY. As part of the registration process, you will use your email address as your user name and you will choose your password for access to this account. You agree to carefully safeguard all of your passwords. You are solely responsible if you do not maintain the confidentiality of passwords and account information. Furthermore, you are solely responsible for any and all activities that occur under your account. You agree to immediately notify the Company of any unauthorized use of your account or any other breach of security known to you, including if You believe that its password or account information has been stolen or otherwise compromised.
        </p>

        <p>
        9. TERMINATION. The Company may immediately terminate Your subscription and right to use the Product if (a) You breach these Terms; (b) the Company is unable to verify or authenticate any information You provide to The Whoot; (c) such information is inaccurate; or (d) the Company decides, in its sole discretion, to discontinue offering the Product. The Company shall not be liable to you or any third party for termination of the Product. You may terminate this agreement with or without cause at any time, effective immediately upon written notice to The Company. Should you object to any terms and conditions of the Terms or any subsequent modifications thereto or become dissatisfied with the Product in any way, your sole recourse is to immediately: (a) discontinue use of the Product; (b) terminate your subscription; and (c) notify The Whoot of termination. Upon termination of membership, your right to use the Product immediately ceases.
        </p>

        <p>
        10. DISCLAIMER OF WARRANTIES. YOU EXPRESSLY AGREE THAT
        USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS
        PROVIDED ON AN "AS IS" BASIS. THE COMPANY EXPRESSLY DISCLAIMS
        ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
        INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-
        INFRINGEMENT. THE COMPANY MAKES NO WARRANTY THAT THE
        SERVICE WILL MEET YOUR REQUIREMENTS OR THAT THE SERVICE
        WILL BE UNINTERRUPTED, TIMELY OR ERROR FREE, NOR DOES THE
        COMPANY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE
        OBTAINED FROM THE USE OF THE SERVICE OR THE ACCURACY OF
        ANY OTHER INFORMATION OBTAINED THROUGH THE SERVICE OR THAT
        DEFECTS IN THE VIEWER WILL BE CORRECTED. YOU UNDERSTAND
        AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR
        OTHERWISE OBTAINED (INCLUDING PLUG-INS) THROUGH THE USE OF
        THE SERVICE IS DONE AT YOUR OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM
        OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH
        MATERIAL AND/OR DATA. NO INFORMATION OR ADVICE, WHETHER ORAL
        OR WRITTEN, OBTAINED BY YOU FROM THE COMPANY OR THROUGH
        THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF
        CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT
        APPLY TO YOU.
        </p>

        <p>
        11. LIMITATION OF LIABILITY. IN NO EVENT, INCLUDING BUT NOT
        LIMITED TO NEGLIGENCE, SHALL THE COMPANY OR ANY OF ITS
        DIRECTORS, OFFICERS, EMPLOYEES, AGENTS (COLLECTIVELY,
        THE "PROTECTED ENTITIES") BE LIABLE FOR ANY DIRECT INDIRECT,
        INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, RESULTING
        FROM THE USE OR THE INABILITY TO USE THE SERVICE, INCLUDING,
        BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, EVEN IF
        THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE COMPANY LIABILITY TO YOU OR ANY THIRD PARTY IS LIMITED TO $50. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION
        OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
        DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. IN NO EVENT SHALL THE PROTECTED ENTITIES BE LIABLE FOR
        OR IN CONNECTION WITH ANY CONTENT POSTED, TRANSMITTED,
        EXCHANGED OR RECEIVED BY OR ON BEHALF OF ANY USER OR OTHER PERSON ON OR THROUGH THE PRODUCT. IN NO EVENT SHALL THE
        TOTAL AGGREGATE LIABILITY OF THE PROTECTED ENTITIES TO YOU
        FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN
        CONTRACT OR TORT, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE
        OR OTHERWISE) ARISING FROM THE TERMS AND CONDITIONS OR YOUR
        USE OF THE WEB SITE EXCEED, IN THE AGGREGATE, THE AMOUNT, IF ANY, PAID BY YOU TO MODEVITY, LLC FOR YOUR USE OF THE PRODUCT.
        </p>

        <p>
        12. INDEMNITY. You hereby agree, at Your expense, to indemnify, defend and hold the Company harmless from and against any loss, cost, damages, liability or expense arising out of or relating to (a) a third-party claim, action or allegation of infringement based on information, data, files or other content Published by You; (b) any fraud or manipulation, or other breach of these Terms by You; or (c) any third-party claim, action or allegation brought against the Company arising out of or relating to a dispute between its users over the terms and conditions of a contract or related to the purchase and sale of any services.
        </p>

        <p>
        13. GENERAL TERMS. These Terms are governed in all respects by the laws of New York as such laws are applied. Both parties submit to personal jurisdiction in New York and further agree that any cause of action relating to these Terms shall be brought in a court in Manhattan County, New York. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. The Company’s failure to act with respect to a breach by
        You does not waive the Company's right to act with respect to subsequent or similar breaches. You may not assign or transfer this Agreement or any rights hereunder, and any attempt to the contrary is void. This Agreement shall inure to the benefit of and be binding upon each party's successors and assigns. The Company shall not be liable for any delay or failure to perform resulting directly or indirectly from any causes beyond the Company's reasonable control. Unless otherwise provided in this Agreement, any notice required or permitted to be given under this Agreement shall be delivered (i) by hand; (ii) by registered or certified mail, postage prepaid and return receipt requested to the address provided by the other party, or to such other address as a party may designate by written notice in accordance with this Section 12; (iii) by overnight courier or (iv) by electronic mail with confirming letter mailed under the conditions described in (ii). Notice so given shall be deemed effective when received, or if not received by reason of fault of addressee, when delivered. These Terms constitute the complete and exclusive understanding and agreement of the parties relating to the subject matter hereof and supersedes all prior understandings, proposals, agreements, negotiations and discussions between the parties, whether written or oral. You understand and agree that you are solely responsible for periodically reviewing the Terms of Service. You must report any violations of these Terms. To do so, send an email to support@thewhoot.com for assistance.
        </p>
    </div>

{% endblock %}