<div class="user tag">
    <a class="profile-image" href="{{ path('user_profile_show', {'username': user.username}) }}" title="{{ user.firstName }} {{ user.lastName }}">
        {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': user, 'dimensions': 30} %}
    </a>
    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': user} %}
</div>