<div class="tag drag user" data-d='{ "id":{{ object.id }} }'>
    <div class="handle-small"></div>
    <a class="p" href="{{ path('user_profile_show', {'username': object.User.username} ) }}">{{ object.User.username }}</a>
</div>