<div class="user-panel">
    <h2>{{ userObject.User.username }}</h2>
    <div class="score" title="Your Score">{{ userObject.score }}</div>
    <div class="clear"></div>
    
    {% include "LimelightUserBundle:Profile:profileImage.html.twig" with {'user': app.user, 'dimensions': 65, 'height': 80, 'width': 65} %}

    <div class="right">
        <div class="stat followers">
            <a href="#">Followers <span>1,390</span></a>
        </div>
        <div class="stat following">
            <div class="head">Following</div>
            <a href="#"><span>489</span> Users</a>
            <a href="#"><span>145</span> Topics</a>
        </div>
    </div>

    <div class="clear"></div>

    <div class="links">
        <a class="settings" href="#" title="Settings">
            <div class="icon settings-icon"></div>
            Settings
        </a>
        <a class="badge" href="#" title="Badges">
            <div class="icon badge-icon"></div>
            Badges
        </a>
        <a class="user-contributions" href="#" title="Contributions">
            <div class="icon user-contributions-icon"></div>
            Contributions
        </a>
    </div>

</div>