<div class="trendingtags">
    <h4 class="head">Trending in {{ app.user.currentLocation ? app.user.currentLocation.name : 'Outer Space' }} on this fine {{ "now-5 hours"|date('l') }} night</h4>
    <div class="tags">
        {% for tag in trendingTags %}
            {% include "WhootBundle:Tag:teaser.html.twig" with {'tag': tag} %}
        {% else %}
           <div class="none">Hmm... nothing is trending. People, start posting!</div>
        {% endfor %}
    </div>
</div>