<div class="activity-post {{ event.class }}">
    <div class="submitted">
        <div class="time">{{ event.time|timeLapse(1) }}</div>
    </div>

    <div class="content">
        {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': event.user} %}
        {{ event.message }}
    </div>
</div>