<div class="activity-list">
    {% render "WhootBundle:Comment:new" with {'postId': post.id} %}
    {% for event in activity %}
        {% if event.type == 'comment' %}
            {% include "WhootBundle:Comment:teaser.html.twig" with {'comment': event.comment} %}
        {% else %}
            {% include "WhootBundle:Post:activityPost.html.twig" with {'event': event} %}
        {% endif %}
    {% endfor %}
</div>