<div class="post-details normal">
    <div class="left">
        <h4>+1's</h4>
        <ul class="voters">
            {% for vote in post.votes %}
                <li>
                    <a class="profile-image" href="{{ path('user_profile_show', {'username': vote.voter.username}) }}" title="{{ vote.voter.firstName }} {{ vote.voter.lastName }}">
                        {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': vote.voter, 'dimensions': 30} %}
                    </a>
                    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': vote.voter} %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <h4 class="location">Posted in {{ post.location.id ? post.location.cityName~', '~post.location.stateCode : '' }}</h4>
        {% include "WhootBundle:Post:activity.html.twig" with {'post': post, 'activity': activity} %}
    </div>
    <div class="clear"></div>
</div>