<div class="post-details normal">
    <div class="left">
        {% if post.invite is not defined or not post.invite %}
            <h4>+1's</h4>
            <ul class="voters">
                {% for voter in post.voters %}
                    <li>
                        <a class="profile-image" href="{{ path('user_profile_show', {'username': voter.username}) }}" title="{{ voter.firstName }} {{ voter.lastName }}">
                            {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': voter.currentProfileImage, 'w': 30, 'h': 30} %}
                        </a>
                        {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': voter} %}
                    </li>
                {% else %}
                    <li class="none">No +1's yet</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="right">
        <h4 class="location">Posted in {{ post.currentLocation ? post.currentLocation.name : 'Outer Space' }}</h4>
        {% include "WhootBundle:Comment:feed.html.twig" with {'rootId': post.id, 'type': 'post', 'comments': comments} %}
    </div>
    <div class="clear"></div>
</div>