{#{% render "WhootBundle:tag:trending" %}#}

{% if posts|length > 0 %}
    <div class="clear"></div>

    <div class="tag-filters">
        <div class="head">Tag Filters</div>
    </div>

    <ul class="decided feed">

        {% for post in posts %}
            <li class="{{ loop.first ? 'first' : '' }}">
                {% render 'WhootBundle:Post:teaser' with {'post': post} %}
            </li>
        {% else %}
            <li class="none">
                No posts for this night... yet.
            </li>
        {% endfor %}

    </ul>

{% else %}

    <div class="no-post">No Posts...</div>

{% endif %}