{% if posts|length > 0 %}
    {% set oldestPost = posts[0][0].createdAt|date('U') %}
{% endif %}

<ul>

    {% for post in posts %}
        {% if post[0].createdAt|date('U') < oldestPost %}
            {% set oldestPost = post[0].createdAt|date('U') %}
        {% endif %}

        <li class="{{ loop.first ? 'first' : '' }}">
            {% render 'WhootBundle:Post:teaser' with {'postId': post[0].id} %}
        </li>
    {% else %}
        <li class="none">
            No posts for this night... yet.
        </li>
    {% endfor %}

</ul>

{% if posts|length > 0 %}
    <div id="oldestPost" class="hide" data-time="{{ oldestPost }}"></div>
{% endif %}