<div id="my-post">
    <h3>
        {% if myPost is not none %}
            {{ myPost.post.type|printPostTypeShort() }}
        {% else %}
            <span id="declare-post"></span>
            You have not declared your post for the night.
        {% endif %}
    </h3>
    <div id="change-post">Change</div>
    <div class="clear"></div>
</div>