/*
    Document   : main
    Created on : Mar 30, 2011, 2:33:12 PM
    Author     : Marc MacLeod
    Description:
        Master stylesheet.
*/
/*
    Document   : _default
    Created on : Mar 30, 2011, 4:06:21 PM
    Author     : Marc MacLeod
    Description:
        Default theme variables.
*/
/* line 16, ../compass/src/main.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  background-color: #222;
  position: relative;
  z-index: 0;
  font-family: Tahoma, Arial, "times New Roman";
  color: #000;
}

/* line 25, ../compass/src/main.scss */
header, footer, article, section, nav, menu, hgroup {
  display: block;
}

/* line 29, ../compass/src/main.scss */
h1, h2, h3, h4, h5, h6, p, div, span {
  margin: 0;
  padding: 0;
}

/* line 34, ../compass/src/main.scss */
a {
  color: #156cd8;
  text-decoration: none;
}

/* line 38, ../compass/src/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 42, ../compass/src/main.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../compass/src/main.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* line 47, ../compass/src/main.scss */
#application {
  width: 960px;
  height: 100%;
  margin: auto;
}

/* line 48, ../compass/src/main.scss */
#header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3077ce), color-stop(25%, #2b6fc6), color-stop(75%, #1b59ae), color-stop(100%, #1551a5));
  background-image: -webkit-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -moz-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -o-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  height: 50px;
  width: 960px;
  color: black;
  border-bottom: 1px solid #003277;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -480px;
  z-index: 50;
}
/* line 59, ../compass/src/main.scss */
#header .logo {
  display: block;
  padding: 7px 20px 0 55px;
  position: relative;
  margin: 0 0 0 5px;
  color: #FFF;
  font-size: 26px;
  text-decoration: none;
}
/* line 68, ../compass/src/main.scss */
#header .logo .image {
  width: 40px;
  height: 40px;
  background: #FFF;
  position: absolute;
  top: 5px;
  left: 0px;
}
/* line 75, ../compass/src/main.scss */
#header .nav {
  position: absolute;
  top: 0px;
  left: 535px;
}
/* line 78, ../compass/src/main.scss */
#header .nav a {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  margin: 7px 0 0 0;
  padding: 5px 10px;
  display: block;
  float: left;
}
/* line 87, ../compass/src/main.scss */
#header .nav .feed {
  border-right: 1px dotted #08192E;
}
/* line 90, ../compass/src/main.scss */
#header .nav .open-invite {
  border-left: 1px dotted #4688DA;
  border-right: 1px dotted #08192E;
}
/* line 95, ../compass/src/main.scss */
#header .search {
  position: absolute;
  top: 7px;
  right: 0px;
  border-left: 1px dotted #4688DA;
  padding: 4px 10px 3px 20px;
}
/* line 100, ../compass/src/main.scss */
#header .search input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  padding: 4px 8px;
  width: 200px;
}

/* line 109, ../compass/src/main.scss */
#content {
  padding-top: 50px;
  height: 100%;
}

/* line 110, ../compass/src/main.scss */
#page {
  position: relative;
  padding-right: 200px;
  color: black;
  background: #FFF;
  height: 100%;
}

/* line 117, ../compass/src/main.scss */
#page_content {
  background: white;
  min-height: 800px;
  height: 100%;
  position: relative;
}

/* line 123, ../compass/src/main.scss */
#sidebar {
  width: 199px;
  min-height: 800px;
  position: fixed;
  top: 51px;
  left: 50%;
  margin: 0 0 0 280px;
  z-index: 50;
  border-left: 1px solid #cfcfcf;
  border-top: 1px solid #FFF;
  background: #e4e4e4;
  color: black;
}

/* line 133, ../compass/src/main.scss */
#footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3077ce), color-stop(25%, #2b6fc6), color-stop(75%, #1b59ae), color-stop(100%, #1551a5));
  background-image: -webkit-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -moz-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: -o-linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  background-image: linear-gradient(#3077ce, #2b6fc6 25%, #1b59ae 75%, #1551a5);
  height: 19px;
  width: 761px;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -480px;
  padding: 3px 0 6px 10px;
  font-weight: normal;
  font-size: 14px;
}

/* line 146, ../compass/src/main.scss */
.clear {
  clear: both;
}

/*
    Document   : _utilities
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 9, ../compass/src/partials/_utilities.scss */
#ajax-loading {
  display: none;
  background: white url("images/ajax-loader.gif") no-repeat;
  border: 3px solid #000;
  padding: 15px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -10px;
}

/* line 18, ../compass/src/partials/_utilities.scss */
.hide {
  display: none;
}

/* line 20, ../compass/src/partials/_utilities.scss */
.dev-notice {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFD2C7;
  color: red;
  font-size: 13px;
  padding: 5px;
  width: 90%;
  margin: 10px auto;
}

/* line 32, ../compass/src/partials/_utilities.scss */
.handle-small {
  width: 9px;
  height: 10px;
  cursor: move;
}

/* line 35, ../compass/src/partials/_utilities.scss */
.arrow-small {
  width: 14px;
  height: 8px;
  cursor: default;
}

/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/
/* line 31, icon */
.icon-sprite, .handle-small, .arrow-small {
  background: url('/images/icon-d3e39e42f6.png') no-repeat;
}

/* line 10, ../compass/src/partials/_sprite.scss */
.handle-small {
  background-position: 0 -8px;
}

/* line 11, ../compass/src/partials/_sprite.scss */
.arrow-small {
  background-position: 0 0;
}

/*
    Document   : _splash
    Created on : Mar 3, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 12, ../compass/src/partials/_splash.scss */
#splash {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(60%, #666666), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: -moz-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: -o-linear-gradient(#222222, #666666 60%, #aaaaaa);
  background-image: linear-gradient(#222222, #666666 60%, #aaaaaa);
  width: 100%;
  height: 100%;
}
/* line 18, ../compass/src/partials/_splash.scss */
#splash .auth {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 1px 1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
  -o-box-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 5px black;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  margin: -175px 0 0 -325px;
  width: 650px;
  height: 350px;
}
/* line 28, ../compass/src/partials/_splash.scss */
#splash .auth .panel {
  width: 350px;
  height: 350px;
}
/* line 32, ../compass/src/partials/_splash.scss */
#splash .auth .button {
  padding: 5px 15px;
  margin: 5px;
  float: left;
  border: 1px solid #999;
  cursor: pointer;
}

/*
    Document   : _user
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/
/* line 11, ../compass/src/partials/_user.scss */
#user_panel {
  padding: 7px 5px 15px 5px;
  margin: 0 5px;
  border-bottom: 1px solid #F1F1F1;
}
/* line 16, ../compass/src/partials/_user.scss */
#user_panel .name {
  float: left;
  text-decoration: none;
  display: block;
  margin: 4px 0 7px 4px;
}
/* line 22, ../compass/src/partials/_user.scss */
#user_panel .name:hover {
  text-decoration: underline;
}
/* line 26, ../compass/src/partials/_user.scss */
#user_panel .profile_image {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 50px;
  height: 60px;
  background: #CCC;
  border: 1px solid #666;
  float: left;
  position: relative;
}
/* line 36, ../compass/src/partials/_user.scss */
#user_panel .stats {
  float: left;
  width: 120px;
}
/* line 40, ../compass/src/partials/_user.scss */
#user_panel .stats .item {
  clear: both;
  margin: -2px 0 5px 10px;
}
/* line 44, ../compass/src/partials/_user.scss */
#user_panel .stats .item .label {
  float: left;
  font-size: 14px;
  color: #666;
  margin: 0 15px 0 0;
}
/* line 50, ../compass/src/partials/_user.scss */
#user_panel .stats .item .value {
  float: left;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
/* line 58, ../compass/src/partials/_user.scss */
#user_panel .small-link {
  font-size: 12px;
  text-decoration: none;
  margin: 0 0 0 10px;
}
/* line 63, ../compass/src/partials/_user.scss */
#user_panel .small-link:hover {
  text-decoration: underline;
}

/* line 68, ../compass/src/partials/_user.scss */
#my-pings {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: -6px;
  left: -6px;
  background: #cc3300;
  font-weight: bold;
  padding: 2px 5px;
  color: #FFF;
  cursor: default;
}

/* line 77, ../compass/src/partials/_user.scss */
.my-pings-tip {
  font-size: 16px;
  line-height: 1.2em;
}

/*
Document   : post
Created on : May 3, 2011, 9:41:00 PM
Author     : Marc MacLeod (marbemac@gmail.com)
Description:
Purpose of the stylesheet follows.
*/
/* line 9, ../compass/src/partials/_post.scss */
#my-post {
  border-top: 1px solid #D7D7D7;
  padding: 15px 5px 0 5px;
  margin: 0 5px;
}
/* line 14, ../compass/src/partials/_post.scss */
#my-post h3 {
  float: left;
  color: #777;
}

/* line 20, ../compass/src/partials/_post.scss */
#change-post {
  float: right;
  color: #156cd8;
  font-size: 12px;
  margin: -1px 3px 0 0;
  font-weight: bold;
}

/* line 27, ../compass/src/partials/_post.scss */
#change-post:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 32, ../compass/src/partials/_post.scss */
#post-box {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
}
/* line 42, ../compass/src/partials/_post.scss */
#post-box .options {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -o-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  background: #FFF;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 500px;
  margin: 0 0 0 -250px;
}
/* line 52, ../compass/src/partials/_post.scss */
#post-box .options h2 {
  text-align: center;
}
/* line 56, ../compass/src/partials/_post.scss */
#post-box .options .label {
  font-size: 20px;
  color: #666;
  margin: 10px 0 0 10px;
}
/* line 62, ../compass/src/partials/_post.scss */
#post-box .options .type {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 5px 15px;
  margin: 5px 0 0 5px;
  font-size: 16px;
  border: 2px solid #000;
  cursor: pointer;
}
/* line 71, ../compass/src/partials/_post.scss */
#post-box .options .type.on {
  color: #FFF;
  cursor: default;
}
/* line 75, ../compass/src/partials/_post.scss */
#post-box .options .working {
  border-color: #009966;
  color: #009966;
}
/* line 79, ../compass/src/partials/_post.scss */
#post-box .options .low_in {
  border-color: #996699;
  color: #996699;
}
/* line 83, ../compass/src/partials/_post.scss */
#post-box .options .low_out {
  border-color: #ff9900;
  color: #ff9900;
}
/* line 87, ../compass/src/partials/_post.scss */
#post-box .options .big_out {
  border-color: #cc3300;
  color: #cc3300;
}
/* line 91, ../compass/src/partials/_post.scss */
#post-box .options .working.on {
  background: #009966;
}
/* line 94, ../compass/src/partials/_post.scss */
#post-box .options .low_in.on {
  background: #996699;
}
/* line 97, ../compass/src/partials/_post.scss */
#post-box .options .low_out.on {
  background: #ff9900;
}
/* line 100, ../compass/src/partials/_post.scss */
#post-box .options .big_out.on {
  background: #cc3300;
}
/* line 103, ../compass/src/partials/_post.scss */
#post-box .options .note {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #999;
  padding: 5px;
  margin: 5px 0 0 5px;
  width: 475px;
}
/* line 111, ../compass/src/partials/_post.scss */
#post-box .options .submit {
  font-size: 20px;
  float: left;
  font-weight: bold;
  color: #156cd8;
  margin: 10px 0 10px 10px;
}
/* line 118, ../compass/src/partials/_post.scss */
#post-box .options .submit:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 126, ../compass/src/partials/_post.scss */
#feed-filters {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(25%, #f6f6f6), color-stop(75%, #ebebeb), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #f6f6f6 25%, #ebebeb 75%, #e8e8e8);
  width: 761px;
  padding: 8px 0 6px 0;
  margin: 0 0 0 -480px;
  position: fixed;
  top: 50px;
  left: 50%;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #cfcfcf;
  z-index: 40;
}
/* line 144, ../compass/src/partials/_post.scss */
#feed-filters .post-types,
#feed-filters .feed-sort {
  position: relative;
}
/* line 147, ../compass/src/partials/_post.scss */
#feed-filters .post-types .label,
#feed-filters .feed-sort .label {
  float: left;
  margin: 5px 0 0 13px;
  color: #999;
  font-size: 12px;
  cursor: default;
}
/* line 154, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul,
#feed-filters .feed-sort ul {
  font-size: 14px;
}
/* line 157, ../compass/src/partials/_post.scss */
#feed-filters .post-types li,
#feed-filters .feed-sort li {
  float: left;
}
/* line 160, ../compass/src/partials/_post.scss */
#feed-filters .post-types li.clear,
#feed-filters .feed-sort li.clear {
  float: none;
}
/* line 164, ../compass/src/partials/_post.scss */
#feed-filters .post-types {
  float: left;
}
/* line 167, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  background: white;
  border: 2px solid #cccccc;
  margin: 0 0 0 10px;
}
/* line 174, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul a {
  color: #BBB;
  text-decoration: none;
  padding: 2px 10px;
  display: block;
}
/* line 180, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.working a {
  color: #009966;
}
/* line 181, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.low_in a {
  color: #996699;
}
/* line 182, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.low_out a {
  color: #ff9900;
}
/* line 183, ../compass/src/partials/_post.scss */
#feed-filters .post-types ul li.on.big_out a {
  color: #cc3300;
}
/* line 185, ../compass/src/partials/_post.scss */
#feed-filters .post-types .undecided {
  float: left;
  font-size: 14px;
  text-decoration: none;
}
/* line 191, ../compass/src/partials/_post.scss */
#feed-filters .feed-sort {
  float: right;
  width: 173px;
}
/* line 195, ../compass/src/partials/_post.scss */
#feed-filters .feed-sort .arrow-small {
  position: absolute;
  top: 12px;
  right: 18px;
  z-index: 10;
}
/* line 199, ../compass/src/partials/_post.scss */
#feed-filters .feed-sort ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: white;
  border: 2px solid #cccccc;
  position: absolute;
  left: 60px;
  z-index: 5;
  width: 100px;
}
/* line 211, ../compass/src/partials/_post.scss */
#feed-filters .feed-sort ul a {
  color: #444;
  text-decoration: none;
  padding: 2px 10px;
  display: block;
}

/* line 221, ../compass/src/partials/_post.scss */
#feed-stats {
  float: left;
}
/* line 224, ../compass/src/partials/_post.scss */
#feed-stats div {
  float: left;
  margin: -3px 8px 0 8px;
  font-weight: bold;
  cursor: default;
}
/* line 230, ../compass/src/partials/_post.scss */
#feed-stats div.working {
  color: #009966;
}
/* line 231, ../compass/src/partials/_post.scss */
#feed-stats div.low_in {
  color: #996699;
}
/* line 232, ../compass/src/partials/_post.scss */
#feed-stats div.low_out {
  color: #ff9900;
}
/* line 233, ../compass/src/partials/_post.scss */
#feed-stats div.big_out {
  color: #cc3300;
}

/* line 236, ../compass/src/partials/_post.scss */
#post-feed {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 58px 0 0 0;
}
/* line 241, ../compass/src/partials/_post.scss */
#post-feed h3 {
  float: left;
  margin: 0px 10px 5px 10px;
  cursor: default;
}
/* line 246, ../compass/src/partials/_post.scss */
#post-feed .undecided-count {
  float: left;
  margin: -4px 0 0 10px;
  cursor: default;
}
/* line 251, ../compass/src/partials/_post.scss */
#post-feed .date-separator {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 5px 10px;
  font-weight: bold;
  font-size: 18px;
  background: #DDD;
}
/* line 259, ../compass/src/partials/_post.scss */
#post-feed li {
  margin: 0 10px;
  border-top: 1px dotted #999;
  padding: 5px;
}
/* line 264, ../compass/src/partials/_post.scss */
#post-feed li.first {
  border-top: none;
}
/* line 267, ../compass/src/partials/_post.scss */
#post-feed li.last, #post-feed li.none {
  border-bottom: 1px dotted #999;
}
/* line 270, ../compass/src/partials/_post.scss */
#post-feed .decided {
  margin-bottom: 20px;
}
/* line 273, ../compass/src/partials/_post.scss */
#post-feed .decided li:hover {
  background: #F8F7FF;
  cursor: pointer;
}
/* line 278, ../compass/src/partials/_post.scss */
#post-feed .undecided li {
  padding: 8px 5px;
}
/* line 281, ../compass/src/partials/_post.scss */
#post-feed .undecided .image {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  width: 30px;
  height: 30px;
  background: #999;
  margin: -2px 11px 0 0;
}
/* line 288, ../compass/src/partials/_post.scss */
#post-feed .undecided .actions {
  float: right;
}
/* line 293, ../compass/src/partials/_post.scss */
#post-feed .undecided .follow-B,
#post-feed .undecided .ping-B,
#post-feed .undecided .pinged {
  padding: 0 12px;
}

/* line 299, ../compass/src/partials/_post.scss */
.teaser.post {
  overflow: hidden;
  height: 33px;
}
/* line 303, ../compass/src/partials/_post.scss */
.teaser.post.on {
  height: auto;
}
/* line 307, ../compass/src/partials/_post.scss */
.teaser.post .timer {
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  top: 7px;
  margin: 0 5px 0 0;
}
/* line 315, ../compass/src/partials/_post.scss */
.teaser.post div.timer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 318, ../compass/src/partials/_post.scss */
.teaser.post div.timer.working {
  background: #009966;
}
/* line 319, ../compass/src/partials/_post.scss */
.teaser.post div.timer.low_in {
  background: #996699;
}
/* line 320, ../compass/src/partials/_post.scss */
.teaser.post div.timer.low_out {
  background: #ff9900;
}
/* line 321, ../compass/src/partials/_post.scss */
.teaser.post div.timer.big_out {
  background: #cc3300;
}
/* line 323, ../compass/src/partials/_post.scss */
.teaser.post .profile-images {
  float: left;
  width: 130px;
}
/* line 327, ../compass/src/partials/_post.scss */
.teaser.post .profile-images .image {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  width: 30px;
  height: 30px;
  background: #999;
  margin: 2px 0 0 5px;
}
/* line 335, ../compass/src/partials/_post.scss */
.teaser.post .content {
  float: left;
  position: relative;
  color: #666;
}
/* line 340, ../compass/src/partials/_post.scss */
.teaser.post .content .post {
  font-size: 16px;
  padding: 4px 0;
}
/* line 344, ../compass/src/partials/_post.scss */
.teaser.post .content .note {
  font-size: 12px;
  font-style: italic;
  position: relative;
  left: -2px;
  min-height: 7px;
}
/* line 352, ../compass/src/partials/_post.scss */
.teaser.post .jive-B {
  color: #156cd8;
  float: right;
  font-size: 16px;
  padding: 3px 12px;
}
/* line 358, ../compass/src/partials/_post.scss */
.teaser.post .jive-B:hover {
  text-decoration: underline;
}

/* line 363, ../compass/src/partials/_post.scss */
.ping-countdown {
  font-size: 12px;
  color: #999;
  margin: 0 0 0 10px;
  cursor: default;
}

/* line 370, ../compass/src/partials/_post.scss */
.pinged {
  color: #999;
  cursor: default;
}

/* line 375, ../compass/src/partials/_post.scss */
.activity-list {
  margin: 10px 0 5px 0;
}

/* line 379, ../compass/src/partials/_post.scss */
.activity-post {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0 0 0;
}
/* line 384, ../compass/src/partials/_post.scss */
.activity-post .time {
  color: #888;
  font-size: 10px;
  width: 70px;
  float: left;
  margin: 8px 0 0 0;
  text-align: right;
  padding: 0 8px 0 0;
}
/* line 393, ../compass/src/partials/_post.scss */
.activity-post .message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid #E7E5FF;
}
/* line 400, ../compass/src/partials/_post.scss */
.activity-post.create .message {
  background: #F8F7FF;
}
/* line 403, ../compass/src/partials/_post.scss */
.activity-post.jive .message {
  background: #F9FFF8;
}
/* line 406, ../compass/src/partials/_post.scss */
.activity-post.leave .message {
  background: #FFF7F9;
}

/*
    Document   : _library
    Created on : Apr 14, 2011, 2:59:21 PM
    Author     : Marc
    Description:
        Library overrides.
*/
/*
 * qTip
 */
/* line 13, ../compass/src/partials/_library.scss */
.jgrowl .ui-tooltip-title {
  font-size: 18px;
}

/* line 14, ../compass/src/partials/_library.scss */
.jgrowl .ui-tooltip-content {
  font-size: 16px;
  padding: 10px;
  line-height: 1.4em;
}
