{% if invite and invite.createdBy.id != app.user.id %}
    {% if not invite.findAttendee(app.user.id) %}
        <a class="attending-B ac attending_{{ invite.id }}" href="{{ path('invite_attend', {'inviteId': invite.id}) }}">+ I'm Attending</a>
    {% else %}
        <a class="attending-B ac attending_{{ invite.id }}" href="{{ path('invite_attend', {'inviteId': invite.id}) }}">- Cancel Attending</a>
    {% endif %}
{% endif %}