<form action="{{ path('user_invite_create') }}" method="POST" class="new_user_invite">
    <h3>Invite Friends</h3>
    <input class="email iclear b" type="text" name="email" autocomplete="off" value="Friend's email..." />
    <input type="submit" class="submit" value="Invite" />
</form>