{% if collect|length > 0 %}
    <div id="collect-info-box">
        <div class="options">
            <h3>Woops, we need a little more info to finish creating your account!</h3>

            <form action="{{ path('user_update_location')}}" method="POST">
                {% if collect.locations is defined %}
                    <div class="label">Location</div>
                    {% include "WhootBundle:Location:selectBox.html.twig" with {'locations': collect.locations} %}
                {% endif %}

                <input type="submit" class="submit" value="submit" />
            </form>

        </div>
    </div>
{% endif %}