{% extends 'WhootUserBundle::layout.html.twig' %}

{% block title %}
    {{ user.firstName }} {{ user.lastName }} Following
{% endblock %}

{% block user_sidebar %}
    {% if not userBlocked(app.user, user) %}
        {% include "WhootUserBundle:Profile:sidebar.html.twig" %}
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if not userBlocked(app.user, user) %}
        {% include "WhootUserBundle:Profile:following_content.html.twig" %}
    {% else %}
        <h3 class="error">Sorry, this user could not be found.</h3>
    {% endif %}
{% endblock %}