<div class="search-result user">
    {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': data.profileImage, 'w': 30, 'h': 30, 'class': 'profileImage'} %}

    <div class="name">
        {{ data.name }}
    </div>

    <div class="location">
        {{ data.location ? data.location : 'Location Unknown' }}
    </div>
</div>