<div class="search-result user">
    {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': data, 'dimensions': 30} %}
    
    <div class="name">
        {{ data.name }}
    </div>

    <div class="location">
        {{ data.location is not empty ? data.location : 'Location Unknown' }}
    </div>
</div>