<li class="teaser user {{ loop is defined and loop.first ? 'first' : '' }}">
    <a class="profile-image" href="{{ path('user_profile_show', {'username': user.username}) }}" title="{{ user.fullName }}">
        {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': user.currentProfileImage, 'w': 30, 'h': 30} %}
    </a>
    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': user} %}
    <div class="actions">
        {% include "WhootBundle:Follow:tag.html.twig" with {'toUser': user} %}
        {% if not user.currentPost or not user.currentPost.isValid %}
            {% include "WhootBundle:Ping:tag.html.twig" with {'toUser': user} %}
        {% endif %}
    </div>
</li>