{% if app.user.id == toUser.id %}
    {# Do nothing. We don't want to show ping buttons for users to ping themselves... #}
{% elseif not app.user.id %}
    <a class="ping-B ping-{{ toUser }} auth" href="{{ path('ping_toggle', {'userId': toUser}) }}">Ping</a>
{% elseif app.user.hasPinged(toUser.id) %}
        <span class="pinged">Pinged</span>
{% else %}
    <a class="ping-B ac ping-{{ toUser.id }}" href="{{ path('ping_toggle', {'userId': toUser.id}) }}">Ping</a>
{% endif %}